<template>
  <div id="app-routes">
    <router-link to="/">Home</router-link> |
    {{html}}
    <router-link to="/about">About</router-link>
  </div>
</template>

<style>

.name {

}
.descripcao {

}


</style>

<script>
export default {
  name: 'AppRoutes',

};
</script>
