<v-col
  cols="12"
  md="4"
>
  <v-text-field
    v-model="<td>{{propertyName}}</td><td>{{expandedEntityDotPropertyName}}</td>"
    label="<td>{{propertyName}}</td><td>{{expandedEntityDotPropertyName}}</td>"
    required
  ></v-text-field>
</v-col>
